<div class="ui bottom attached tab segment active" >
  <div class="ui top attached tabular menu">
    {{#each model.boxes as |box index|}}
      {{box-tab box=box stream=model build=model.build index=index}}
    {{/each}}
  </div>
  {{outlet}}
</div>

