{{#ui-header}}Build Requests{{/ui-header}}

<div class="ui form">
  <div class="field">
    {{input name="branch" value=branch}}
  </div>
</div>

<br>

{{#each model as |request|}}
  {{dis-build build=request lastBuild=request.lastBuild}}
{{/each}}
