<li class="p-2 text-{{style}}-8 flex">
  {{#if @box.active}}
    <Icon @name="wifi" @spin=true class="mr-2" />
  {{/if}}
  {{#link-to 'authenticated.builds.show.stream.show.box' @build.id @stream.id @box.id class=(concat 'text-' style '-8')}}
    {{@index}} 
    <span class="text-xs">
      [{{human-date-diff start=@box.startedAt finish=@box.finishedAt}}]
    </span>
  {{/link-to}}
</li>
