{{#link-to 'authenticated.builds.show.stream.box' build.id stream.id box.id class=" ui item"}}
  {{#if box.active}}
    <div class="ui tiny active inline loader"></div>
  {{/if}}
  &nbsp;
  <div style="color: {{tabClass}}">
    {{index}} [{{box.humanized_time}}]
  </div>
{{/link-to}}
