{{#link-to 'authenticated.builds.show.box' build.id box.id class=" ui item"}}
  {{#if box.active}}
    <div class="ui tiny active inline loader"></div>
  {{/if}}
  &nbsp;
  <span style="color: {{tabClass}}">
    {{stream.name}} {{index}}
  </span>
{{/link-to}}
