<div class="ui segment {{color}}">
  <div class="title">
    [{{command.humanized_time}}] {{ command.command }}
  </div>
  <div class="content">
    <pre class="output_contents">{{command.lines}}</pre>
  </div>
</div>
