<!-- <ion-icon name={{@name}} class="align-middle font-bold" ...attributes></ion-icon> -->
<div class="inline-block mr-1" ...attributes>
  <i class="icon ion-md-{{@name}} align-middle font-bold inline-block {{if @spin 'inline-block spin'}}" ></i>
</div>
