<!-- <ion-icon name={{@name}} class="align-middle font-bold" ...attributes></ion-icon> -->
<span ...attributes>
  <i class="icon ion-md-{{@name}} align-middle font-bold {{if @spin 'inline-block spin'}}" ></i>
</span>
