{{#link-to 'authenticated.builds.show.stream' stream.build.id stream.id class=(concat 'text-' tabClass)}}
  {{#if stream.active}}
    <span class="ui tiny active inline loader"></span>
    &nbsp;
  {{/if}}
  {{stream.name}}
  <br>
  [{{stream.humanized_time}}]
{{/link-to}}
