{{#link-to 'authenticated.builds.show.stream' stream.build.id stream.id class=" ui item"}}
  {{#if stream.active}}
    <div class="ui tiny active inline loader"></div>
  {{/if}}
  &nbsp;
  <div style="color: {{tabClass}}">
    {{stream.name}}
    [{{stream.humanized_time}}]
  </div>
{{/link-to}}
