<span class="relative">
  <button class="ml-3 text-grey-dark p-2 focus:outline-none" {{action 'toggleShow'}}>
    {{fa-icon 'ellipsis-v'}}
  </button>

  {{#if show}}
  <ul class="list-reset absolute pin-r py-1 shadow-md border-grey-3 bg-grey-5 z-10 rounded text-grey-2 text-sm">
    {{#each items as |item|}}
      <li>
        <button class="w-full py-2 px-4 text-grey-1 text-sm hover:bg-grey-3 hover:text-grey-8" {{action 'selectItem' item}}>
          {{item}}
        </button>
      </li>
    {{/each}}
  </ul>
  {{/if}}
</span>
