{{#ui-header level=2}}Builds{{/ui-header}}

<div class="ui form">
  <div class="field">
    {{input name="branch" value=branch}}
  </div>
</div>

<br>

{{#each model as |build|}}
  {{dis-build build=build showLink='1'}}
  <br >
{{/each}}
