{{#ui-header level=2}}Builds{{/ui-header}}

<div class="">
  <label class="flex items-center">
    {{fa-icon 'search' size='2x' class="z-10 pl-3 mt-px"}}
    {{input name="query" value=query class='-ml-8 w-full px-10 py-2 border hover:border-info focus:border-primary focus:outline-none'}}
  </label>
</div>

<br>

{{#each model as |build|}}
  {{dis-build build=build showLink='1'}}
{{/each}}
