<Build @build={{model}} />

<!-- <div class="flex flex-col mt-6 bg-white border w-full border-primary-2 shadow rounded"> -->
<Card>
  <ul class="list-reset px-3 flex flex-none">
    {{#each model.streams as |stream|}}
      <StreamTab @stream={{stream}} />
    {{/each}}
    <li class="mr-1 p-2">
      {{#link-to 'authenticated.builds.show.summary' model.id inactiveClass="text-grey-5" activeClass="text-grey-10" class="pb-2"}}
        Summary
      {{/link-to}}
    </li>
    <li class="mr-1 p-2">
      {{#link-to 'authenticated.builds.show.artifacts' model.id inactiveClass="text-grey-5" activeClass="text-grey-10" class="pb-2"}}
        Artifacts
      {{/link-to}}
    </li>
  </ul>

  <div class="p-3 pt-4">
    {{outlet}}
  </div>
</Card>
