{{dis-build build=model}}
<br >

<div class="ui top attached tabular menu">
  {{#link-to 'authenticated.builds.show.summary' model.id class="ui item"}}
    Summary
  {{/link-to}}
  {{#each model.streams as |stream|}}
    {{stream-tab stream=stream}}
  {{/each}}
  {{#link-to 'authenticated.builds.show.artifacts' model.id class="ui item"}}
    Artifacts
  {{/link-to}}
</div>

{{outlet}}

