{{dis-build build=model}}


<div class="flex flex-col mt-6">
  <ul class="list-reset p-3 w-full flex flex-none">
    <li class="p-2">
      {{#link-to 'authenticated.builds.show.summary' model.id class="text-grey-darker"}}
        Summary
      {{/link-to}}
    </li>
    {{#each model.streams as |stream|}}
      <li class="p-2">
        {{stream-tab stream=stream}}
      </li>
    {{/each}}
    <li class="p-2">
      {{#link-to 'authenticated.builds.show.artifacts' model.id class="text-grey-darker"}}
        Artifacts
      {{/link-to}}
    </li>
  </ul>

  <div class="p-3 border bg-white w-full">
    {{outlet}}
  </div>
</div>

