{{#ui-header}}Repositories{{/ui-header}}

<div class="mb-4">
  {{#link-to 'authenticated.repositories.new' class="text-white bg-primary px-3 py-2 hover:bp-primary-dark inline-block"}}
    {{fa-icon 'plus'}} Add
  {{/link-to}}
</div>

{{#each model as |repo|}}
  <div class="p-3 mb-3 border shadow bg-white flex justify-between items-center">
    <div class="text-grey-darker">
      {{fa-icon 'code' size='lg'}}
      {{repo.name}}
    </div>
    {{#link-to 'authenticated.repositories.pull_requests' repo.id class=""}} Pull Requests {{/link-to}}
    {{#link-to 'authenticated.repositories.show' repo.id class=""}} Settings {{/link-to}}
  </div>
{{/each}}

