<h2>Add Repository</h2>

<div class="ui segments">
  {{#each model as |repo|}}
    <div class="ui clearing segment">
      <div class="ui right floated button mini" {{action 'create' repo}}>Add</div>
      <div class="content" style="height: 29px;">
        {{fa-icon 'code' size='lg'}}
        {{repo.name}}
      </div>
    </div>
  {{/each}}
</div>

