{{#ui-header}}Add Repository{{/ui-header}}

{{#each model as |repo|}}
  <div class="p-3 mb-3 border shadow bg-white flex justify-between items-center">
    <div class="text-grey-darker">
      {{fa-icon 'code' size='lg'}}
      {{repo.name}}
    </div>
    <div class="text-white bg-primary px-3 py-2 hover:bp-primary-dark inline-block" {{action 'create' repo}}>Add</div>
  </div>
{{/each}}
